.deck_detail {
  margin-bottom: 20px;
  h2 {
    margin-bottom: 0;
  }
  &_format {
    margin-top: 5px;
    font-weight: bold;
  }
  &_colors {
    @include well;
    margin-bottom: 10px;
    &_body {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      svg {
        width: 90%;
      }
    }
  }
  &_cmc {
    @include well;
    margin-bottom: 10px;
  }
  &_well {
    @include well;
    margin-bottom: 10px;
    &_body {
      span {
        line-height: 20px;
        transition: letter-spacing 100ms ease-in;
        &:hover {
          letter-spacing: 0.3px;
          cursor: pointer;
        }
      }
    }
  }
  &_active_card {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  p {
    padding: 20px 0;
  }
}

.cmc_inner {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: black;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.sample_hand {
  height: 300px;
  width: 100%;
  img {
    width: 14.28%;
    align-items: baseline;
  }
}

.hand_button {
  @include button($green);
  margin: 20px 0;
  padding: 10px;
}


.active-card-animate {
  animation: fadeIn 0.25s;
}

.hand-container {
  overflow-x: hidden;
}

.hand-card {
  position: relative;
  &-animate {
    box-sizing: border-box;
  }
}

@for $i from 1 through 7 {
  .hand-card-animate:nth-of-type(#{$i}) {
    animation: slideIn #{($i /10)}s;
  }
}
