.deck_item {
  background-color: $white;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  transition: transform 200ms ease-in-out;
  &_head {
    display: flex;
    justify-content: space-between;
    background-color: lighten($black, 10%);
    margin: -10px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
  }
  h3 {
    color: $white;
    margin-bottom: 5px;
    font-weight: normal;
  }
  &_format {
    font-family: "Oswald", sans-serif;
  }
  &_colors {
    height: 40px;
    width: 120px;
    display: flex;
    .color {
      height: 100%;
      flex: 1;
    }
  }
  &_bottom {
    display: flex;
    p {
      width: 50%;
      margin: 0;
      padding-left: 15px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  &_card {
    width: 50%;
    height: 200px;
    background-position: -62px -59px;
    background-size: 200%;
  }
  &:hover {
    transform: scale(1.05);
  }
}
