body {
  background-color: white;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

input, select {
  border-radius: 0;
  -webkit-appearance: none;
  height: 29px;
  width: 220px;
  padding: 0px 7px;
  transition: background-color 150ms ease-out;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  &:focus {
    outline: 0;
    background-color: $white;
  }
}

.container {
  min-height: 90vh;
}
