body {
  background-color: lighten($white, 6%);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

input, select {
  border-radius: 0;
  -webkit-appearance: none;
  height: 29px;
  width: 220px;
  padding: 0px 7px;
  transition: background-color 150ms ease-out;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  &:focus {
    outline: 0;
    background-color: $white;
  }
}

#wrapper {
  min-height: 50vh;
}

.container {
  min-height: 90vh;
  max-width: 100%;
}

.loading {
  width: 100%;
  text-align: center;
  opacity: 0.4;
  font-size: 3em;
  animation: loading 3s infinite;
}

* {
  transition: width 300ms;
}
