header {
  background-color: $blue;
  height: 95px;
  padding: 0 0 0 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  .header_buttons_newdeck {
    display: block;
    position: relative;
    left: 25px;
    .build {
      @include button($green);
      padding: 10px;
      text-decoration: none;
      margin-right: 10px;
    }
    .all {
      @include button($magenta);
      padding: 10px;
      text-decoration: none;
      margin-right: 10px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    background-color: $blue;
    width: 100vw;
    height: 95px;
    z-index: -10;
  }
}
