@mixin buttonsDiv() {
  display: block;
  position: relative;
  left: 25px;
  .build {
    @include button($green);
    padding: 10px;
    text-decoration: none;
    margin-right: 10px;
  }
  .all {
    @include button($magenta);
    padding: 10px;
    text-decoration: none;
    margin-right: 10px;
  }
}

header {
  background-color: $blue;
  height: 95px;
  padding: 0 0 0 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  .header_buttons_newdeck {
    @include buttonsDiv();
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    background-color: $blue;
    width: 100vw;
    height: 95px;
    z-index: -10;
  }
}

.header_buttons_newdeck_small {
  display: none;
  @media screen and (max-width: 501px) {
    @include buttonsDiv();
    margin-right: 25px;
  }
}
