.deck {
  &_inputs {
    input, select {
      width: 220px;
    }
    display: flex;
    align-items: center;
    margin: 30px 0px 50px 0;
    &:before {
      content: "";
      position: absolute;
      left: -300px;
      background-color: lighten($blue, 50%);
      width: 200vw;
      height: 54px;
      border: solid $blue;
      border-width: 2px 0;
      z-index: -10;
    }

    &_group {
      margin-right: 50px;
    }

    input, select {
      margin: 0 10px;
      border: 1px solid $blue;
    }

    @media screen and (max-width: 780px) {
      background-color: lighten($blue, 50%);
      border: 2px solid $blue;
      display: block;
      padding: 10px;
      input, select {
        margin: 10px;
      }
      &:before {
        display: none;
      }
    }
  }
}

.error {
  color: red;
}
