.deck {
  &_inputs {
    display: flex;
    align-items: center;
    margin: 30px 0px 50px 0;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      background-color: lighten($blue, 50%);
      width: 100vw;
      height: 54px;
      border: solid $blue;
      border-width: 2px 0;
      z-index: -10;
    }

    &_group {
      margin-right: 50px;
    }

    input, select {
      margin: 0 10px;
      border: 1px solid $blue;
    }

    @media screen and (max-width: 780px) {
      background-color: inherit;
      display: block;
      padding: 10px;
      input, select {
        margin: 10px;
      }
      &:before {
        display: none;
      }
    }
  }
}


.card_search {
  background-color: lighten($blue, 50%);
  border: 2px solid $blue;
  height: 470px;
  &_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      width: 90%;
      height: 30px;
      outline: 0;
      border: 0;
    }
    button {
      width: 10%;
      height: 30px;
      border: 0;
      color: $white;
      @include button($green);
    }
  }
  ul {
    background-color: white;
    height: 75%;
    padding: 5px;
    padding-bottom: 10px;
    overflow-y: scroll;
    font-family: "Oswald", sans-serif;
    li {
      list-style-type: none;
      padding: 5px;
      margin: 0;
      transition: background-color 200ms ease-out;
      transition: transform 100ms ease-out;
      &:hover {
        background-color: $white;
        cursor: pointer;
      }
    }
  }
}

.selected_card {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0 10px;
  &_image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  img {
    outline-offset: -10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &_details {
    padding: 15px 5px;
    &_head {
      strong {
        font-size: 16px;
      }
      margin: 0 0 10px 0;
    }
    &_type {
      margin: 10px 0;
    }
    &_text {
      line-height: 18px;
    }
  }
  &_buttons {
    margin-top: 15px;
    button {
      @include button($green);
      height: 43px;
      width: 45px;
      font-size: 24px;
      font-family: "Oswald", sans-serif;
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
}

.cmc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #C9C5BF;
  color: black;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  font-family: "Roboto Slab", serif;
}

.deck_output {
  padding-top: 15px;
  background-color: lighten($blue, 50%);
  border: 2px solid $blue;
  height: 470px;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    strong {
      @extend h3;
      font-size: 20px;
    }
    span {
      font-family: "Roboto", sans-serif;
    }
  }
  &_cards {
    padding: 5px;
    padding-bottom: 10px;
    background-color: white;
    overflow-y: scroll;
    height: 89%;
    font-family: "Roboto", sans-serif;
    color: black;
    overflow-x: hidden;
    div {
      padding: 3px 0;
      transition: transform 100ms ease-out;
      &:hover {
        background-color: $white;
        cursor: pointer;
      }
    }
    span {
      margin: 5px;
      font-size: 14px;
      button {
        border: 0;
        background-color: transparent;
        color: red;
        font-size: 14px;
        float: right;
        padding: 0;
        margin: 0;
        margin-right: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.error {
  color: red;
}

.deck_bottom {
  margin: 30px -15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @media screen and (max-width: 750px) {
    flex-direction: column;
    margin: 0;
  }
  label {
    display: block;
    margin-bottom: 10px;
    margin-left: -15px;
  }
  textarea {
    width: 380px;
    padding: 5px;
    height: 138px;
    font-family: "Roboto", sans-serif;
    margin-left: -15px;
  }
  .deck_bottom_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    margin-right: -15px;
  }
  .cancel_button {
    @include button($magenta);
    height: 40px;
    width: 120px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
  }
  .save_button {
    @include button($green);
    height: 40px;
    width: 120px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    margin-right: 30px;
    font-family: "Oswald", sans-serif;
  }
}
