.sample_hand {
  height: 300px;
  width: 100%;
  img {
    width: 14.28%;
    align-items: baseline;
  }
}

.hand_button {
  @include button($green);
  margin: 20px 0;
  padding: 10px;
}


.active-card-animate {
  animation: fadeIn 0.25s;
}

.hand-container {
  overflow-x: hidden;
}

.hand-card {
  position: relative;
  &-animate {
    box-sizing: border-box;
  }
}

@for $i from 1 through 7 {
  .hand-card-animate:nth-of-type(#{$i}) {
    animation: dealUp #{($i /10)}s;
  }
}
