@mixin button($color) {
  background-color: $color;
  transition: all 200ms ease-out;
  border: 0;
  color: white;
  &:hover, &:active, &:focus {
    background-color: darken($color, 25%);
    outline: 0;
    cursor: pointer;
    transform: scale(1.1);
  }
}

@mixin well {
  &_header {
    background-color: $green;
    text-align: center;
    font-family: "Oswald", sans-serif;
    padding: 5px 0;
  }
  &_body {
    color: black;
    padding: 10px;
    background-color: $white;
  }
}
