@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto+Slab:400,700|Roboto:400,700');


// colors
$white: #DAFFED;
$blue: #495867;
$magenta: #270722;
$black: #090909;
$green: #558B6E;

// Fonts

h1, h2, h3 {
  margin: 12px 0;
}
h1 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
}

h3 {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

h4, label {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

h5 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  margin: 5px;
}
